# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com


# Environment: local, dev, staging, production
ENVIRONMENT=dev
BACKEND_HOST=host.docker.internal
# BACKEND_HOST=localhost
BACKEND_PORT="8001"
# BACKEND_URL=http://${BACKEND_HOST}:${BACKEND_PORT}
BACKEND_URL=http://host.docker.internal:8001


#user profiling related env variables
# Redis
# USER_PROFILING_REDIS_SERVER=localhost
USER_PROFILING_REDIS_SERVER=user-profiling-redis
USER_PROFILING_REDIS_PORT=6379
USER_PROFILING_REDIS_DB=1

#task expiration settings
USER_PROFILING_TASK_EXPIRY_HOURS=24
USER_PROFILING_CLEANUP_MAX_AGE_HOURS=24


#LLM
OPENAI_MODEL_4_MEMORY=gpt-4o-mini
# OPENAI_MODEL_4_MEMORY=gpt-4.1-mini

OPENAI_API_KEY=YOUR_API_KEY
OPENAI_BASE_URL=https://api.openai.com/v1
QDRANT_EMBEDDING_MODEL_DIMS=1536
OPENAI_EMBEDDING_MODEL=text-embedding-3-large

#vector store
QDRANT_HOST=user-profiling-qdrant
QDRANT_PORT=6333

#user profiling
USER_PROFILING_BASE_URL=http://localhost:6380
USER_PROFILING_SERVICE_PORT=6380


#logging setting
LOGGING_DIR=YOUR_LOGGING_DIR
