ipython==8.31.0
fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.12.5
requests==2.32.3
mcp==1.25.0
aiofiles
uv
gitpython
markitdown-mcp
numpy
pandas
scikit-learn
scipy
seaborn
matplotlib
agentscope==1.0.11
qdrant-client==1.15.1
